
@{
    ViewData["Title"] = "DisplayGamers";
}
@model List<Gamers>

<h1>Display Gamers</h1>

<table class="table table-bordered">
    <tr>
        <th>Gamertag</th>
        <th>Total Games Played</th>
    </tr>
    @foreach (Gamers player in Model)
    {
        <tr>
            <td>@player.Gamertag</td>
            <td>@player.TotalGamesCompleted</td>
            <td>
                <a href="../HaloRank/DeleteFromGamers?id=@player.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>

    }
</table>

<a href="../HaloRank/Index" class="btn btn-outline-success">Search for another gamertag</a>