
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form action="../HaloRank/GetPlayerBySearch" method="post">
    <input type="text" name="search" value="" />
    <input type="submit" value="Search Gamertag" />

</form>