<body>

    @{
        ViewData["Title"] = "RegisterUser";
    }
   
    <h1>Profile Registration Page</h1>

    <h4>Welcome to the Halo Rankings App! Before you get started we just need a bit more information.</h4> <br />

    <form action="../HaloRank/CreateProfile" method="post">
        @*Profile Image
        <input type="image" name="Images" value="" /><br /><br />*@

        <h6><b>Gamertag</b></h6>
        <input type="text" name="GamerTag" value="" /><br /><br />
        <h6><b>Name</b></h6>
        <input type="text" name="UserName" value="" /><br /><br />
        <h6><b>Date of Birth</b></h6>
        <input type="date" name="DoB" value="" /><br /><br />
        <h6><b>Gender</b></h6>
        <input type="text" name="Gender" value="" /><br /><br />
        <input type="submit" class="btn btn-success" value="Create Your Profile!" /><br />
    </form>

   
</body>